@import "tailwindcss";

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: auto;
  background: white;
  border-left: 2px solid #333;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  color: black;
}